*.exe
*.exe~

.idea
.vscode


# dependencies
/front-end/user-front/node_modules/*
/front-end/user-front/node_modules/.bin
/front-end/user-front/.pnp
.pnp.js

# testing
/front-end/user-front/coverage

# production
/front-end/user-front/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
node_modules/*